# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Vim .swp files
*.swp

# output files
output
output/*
src/output
src/output/*

#whatever the hell .deps is
.deps
.deps/*
src/.deps
src/.deps/*

# Automake stuff
autom4te.cache
autom4te.cache/*
configure
config.*
*Makefile
missing
install-sh
depcomp
*.log
*.in
stamp-h1
src/.deps
libtool
ltmain.sh
